@media (max-width:1309px) {
    .job-con{
        height: 24rem;
        margin: 0.5rem;
        
      }
}
@media (max-width:1067px) {
    .filter-job-listing-grid-con{
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }
    
}
@media (max-width:727px) {
    .job-list-con{
        display: flex;
        flex-direction: column;
    }
    .job-con{
        width: 100%;
    }
    .img-profile-icon-con, .nav-con > ul{
        display: none;
    }
    .mobile-icon-con{
        display: block;
    }
    .nav-con{
        box-shadow: none;
    }
    .nav-con{
        border-bottom: none;
    }
}
@media (max-width:391px) {
    .category-buttons{
        display: flex;
        overflow-x: scroll;
        flex-wrap: nowrap;
    }
    .btn-con > button{
        width: 8rem;
        padding: 0.4rem 0;
    }
}
@media (max-width:365px) {
    .job-con{
        height: 25rem;
        
        
      }
}
@media (max-width:351px) {
    .body-section{
        margin: 0 0.5rem;
        
      }
      .filter-section{
        margin-top: 4rem;
      }
}