*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}
:where(ul){
  list-style-type: none;
}

/* MOBILE NAV */
.mobile-icon-con{
  display: none;
}
.mobile-con{
  width: 100%;
  padding: 1rem;
}
.mobile-con > ul{
  display: flex;
  flex-direction: column;
}
.mobile-con > ul li{
  padding-top: 0.5rem;
}
.img-profile-icon-mobile-con{
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-top: 1rem;
}
.img-mobile-con{
  border-radius: 100%;
  width: 2.5rem;
}
.img-mobile-con > img{
  border-radius: 100%;
  width: 100%;
}
/* HEADER SECTION */
.nav-con{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid rgb(202, 199, 199);
}
.nav-con > ul{
  list-style-type: none;
  display: flex;
  align-items: center;
}
.nav-con > ul li{
  padding-left: 1rem;
}
.img-profile-icon-con{
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.img-con{
  border-radius: 100%;
  width: 2.5rem;
}
.img-con > img{
  border-radius: 100%;
  width: 100%;
}
/* JOB LISTING SECTION */
.body-section{
  margin: 0 1rem;
  margin-top: 6rem;
}
.filter-job-listing-grid-con{
  display: grid;
  grid-template-columns: 30% 70%;

}
.job-list-con{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
}
.job-con{
  border: 1px solid rgb(184, 180, 180);
  height: 20rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 20px;
}
.job-con p{
  padding-bottom: 1rem;
}
.bold{
  font-weight: 800;
}
.company-logo-con{
  width: 8rem;
  margin-bottom: 1rem;
}
.company-logo-con > img{
  width: 100%;
  border-radius: 10px;
}
.job-con > button{
  background-color: blue;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  cursor: pointer;
}
.job-con > button a, .job-con > button a:active, .job-con > button a:visited{
  color: white;
  text-decoration: none;
}

/* CATEGORY BTNS */
.filter-section > h4{
  padding-bottom: 3rem;
}
.category-buttons, .type-buttons{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.btn-con > button, .type-btn-con > button{
  background-color: blue;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  cursor: pointer;
  
}
.btn-con > button:active{
  background-color: rgb(6, 6, 102);
}
.type-btn-main-con{
  margin-top: 4rem;
}
.type-btn-main-con > h4{
  padding-bottom: 3rem;
}